html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans'
}

body {
  background-color: #008fff;
}

header {
  position: fixed;
  top: 0;
  height: 20px;
  width: 100%;
  background-color: #008fff;
}

footer {
  position: fixed;
  bottom: 0;
  height: 20px;
  width: 100%;
  background-color: #008fff;
}

.buttonContainer {
  width: 90%;
  margin: 20px auto 20px;
  border: 20px solid #161618;
  border-radius: 40px;
  padding-top: 10px;
}

.buttonContainer * {
  width: 100%;
  text-align: center;
}

.buttonContainer i {
  font-size: 20em !important;
}

.buttonContainer p {
  font-size: 10em;
}

/* Presentation Remote */

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: /*whatever width you want*/;
}

.inner .two {
  text-align: center;
  width: 50%;
  float: left;
  vertical-align: middle;
}

.inner .three {
  text-align: center;
  width: 33%;
  float: left;
  vertical-align: middle;
}


.iRemote {
  font-size: 28em !important;
}

.iYouTube {
  font-size: 16em !important;
}
